<h1>Instaslide</h1>

<h2>Have you ever wished that you could just focus on the ideas rather than writing slides?</h2>

<h3>Upload a picture of a recent whiteboard and witness the magic</h3>


<%= link_to ('Slides', slides_path)  %>
<%= link_to ('Whiteboards', whiteboards_path)  %>
<%= link_to ('Home', root_path)  %>
